

    <div class="card mt-3">
        <h4>General Task</h4>

        <div class="p-grid p-fluid col-sm-12">


            <div class="row p-2">

                <div class="col-12 col-md-3">
                    <div class="p-field">
                        <label for="institute">Task Name</label>
                        <input type="text" maxlength="50" 
                            placeholder="Enter Task Name" name="daily_progress" [(ngModel)]="gTask.name" field="contatname" class="p-inputtext" required />

                  
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="p-field">
                        <label for="institute">Date</label>
                        <input type="datetime" maxlength="50" 
                            placeholder="Enter Date" name="spent_MD" [(ngModel)]="gTask.date"name="spent_MD" field="contatname" class="p-inputtext" required />

                   
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="p-field">
                        <label for="institute">Spent MDs </label>
                        <input type="number" maxlength="50"  [(ngModel)]="gTask.g_MD"
                            placeholder="Enter Spent MDs" name="comment" field="contatname" class="p-inputtext" required />

                      
                    </div>
                </div>

          
            </div>
        </div>
    </div>


    <div class="card mt-3">
        <h4>Feed Back</h4>

        <div class="p-grid p-fluid col-sm-12">


            <div class="row p-2">
<!-- 
                <div class="col-12 col-md-3">
                    <div class="p-field">
                        <label for="institute">Staff FeedBack</label>
                        <input type="text" maxlength="50" [disabled]="userRole != 'CEO'"
                            placeholder="Enter Code Name"  [(ngModel)]="acAttend.staffFeedBack" name="stafffedback" field="contatname" class="p-inputtext" required />

                  
                    </div>
                </div> -->

                <div class="col-12 col-md-3">
                    <div class="p-field">
                        <label for="institute">ClimateSI Feedbcak</label>
                        <input type="text" maxlength="50" [disabled]="userRole != 'CEO'"
                            placeholder="Enter Code Name"  [(ngModel)]="gTask.csiFeedBack" name="csifeddback" field="contatname" class="p-inputtext" required />

                   
                    </div>
                </div>


          
            </div>
        </div>
    </div>



    <div class="card mt-3">

        <div class="row p-2">
     
            <div class="row p-grid p-fluid col-md-6 col-sm-6">
                <div class="d-flex col-3 justify-content-start p-button-vertical mb-0 pl-2">
                  <button class="btn btn-secondary text-uppercase" (click)="back()" >
                    Back
                  </button>
                </div>
                <div class="d-flex col-3 justify-content-start p-button-vertical mb-0 pl-2" *ngIf="bVisible">
                    <button class="btn btn-primary  text-uppercase" type="button"  (click)="send()"
                      >
                      Send
                    </button>
                  </div>
                <!-- <div class="d-flex col-3 justify-content-start p-button-vertical mb-0 pl-2"  *ngIf="!bVisible && !isView">
                  <button class="btn btn-danger text-uppercase" type="button"  (click)="delete()"
                    >
                    Delete
                  </button>
                </div>
                <div class="d-flex col-3 justify-content-end p-button-vertical mb-0 pl-2"  *ngIf="!bVisible && !isView">
                  <button class="btn btn-primary text-uppercase" type="button"  (click)="update()">
                    Update
                  </button>
                </div> -->
              </div>


        </div>

    </div>

